.price.container {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f8f8f8;
  border-top: 1px solid #d6d6d6;
}

.price__content {
  width: 980px;
  margin: 0px auto;
}

.price__value {
  float: right;
}