.variant {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  padding: 0 15px;
  margin-bottom: 15px;
  height: 90px;
  cursor: pointer;
}

.variant__name {
  width: 60%;
  font-size: 18px;
  line-height: 1.2;
  color: #333;
}

.variant--selected {
  border: 3px solid #0070c9;
}