@import-normalize;

header {
  background-color: white;
  border-bottom: 1px solid lightgray;
  padding: 15px;
  position: fixed;
  top: 0;
  width: 100%;
}

.header__content {
  margin: 0 auto;
  width: 980px;
}

.header__link {
  font-size: 24px;
  text-decoration: none;
  color: #111;
}

.main__content {
  margin: 120px auto 0;
  width: 980px;
  display: flex;
}

.macbook-img {
  width: 410px;
  height: auto;
}