header {
  background-color: white;
  border-bottom: 1px solid lightgray;
  padding: 15px;
}

.header__content {
  margin: 0 auto;
  width: 980px;
}

.header__link {
  font-size: 24px;
  text-decoration: none;
  color: #111;
}

.main__container {
  height: calc(100vh - 145px);
  overflow: scroll;
}

.main__content {
  margin: 50px auto;
  width: 980px;
  display: flex;
}

.macbook-img {
  width: 410px;
  height: auto;
  position: fixed;
}

.configuration {
  margin-left: 450px;
}

.mt-0 {
  margin-top: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}